 
 *{
            font-family: 'Nanum Myeongjo', serif;
        }

        .wrapper {
            background-image: url(https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg);
            color: white;
            width: 500px;
            height: 300px;
            border-radius: 37px;
            background-size: cover;
            text-align: center;
            padding: 20px;
        }