<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
    <h2>멍지</h2>
    <img src="{{ url_for('static', filename='rome.jpg') }}"/>
</body>
</html>


<!-- $.ajax({   
    type:"get",
    url:"/test?title_give=봄날은간다"
    data:{},
    success:function(response){
        console.log(response)
    }

    })
에이젝스를 통해 자바스크립트 통해 서버에 직접적 요청.
에이젝스를 통해 타입을 겟으로 하고 타이틀기브의 밸류가 봄날은간다인 값을 찾아서 그 값을 콘솔로그로 출력한다.
-->