<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프론트-백엔드 연결 마지막 예제!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            show_saryo("");
        });

        function show_saryo(ingredient) {
            let url;
            if (ingredient == '') {
                url = '/api'
            } else {
                url = `/api?query=${ingredient}`;
            }
            // console.log('url is', url)
            $.ajax({
                type: "get",
                url: url,
                data: {},
                success: function (response) {

                    let saryos = response['saryo_list']
                    for (let i = 0; i < saryos.length; i++) {
                        let saryo = saryos[i];
                        let id = saryo['_id'];
                        let img = saryo['img_url']
                        let name = saryo['name']
                        let price = saryo['price']
                        let ingredient = saryo['ingredient']

                        let temp_html =
                            `<div class="card">
          <img class="card-img-top"
            src="${img}"
            alt="Card image cap">
          <div class="card-body">
            <a href="/${id}" class="card-title">${name}</a>
            <p class="card-text comment"></p>
          </div>
        </div>`

                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }
    </script>
</head>

<body>
    <h1>고양 사료</h1>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" onclick="show_saryo('닭')" href="#">닭</a>
            <a class="dropdown-item" onclick="show_saryo('토끼')" href="#">토끼</a>
            <a class="dropdown-item" onclick="show_saryo('연어')" href="#">연어</a>
            <a class="dropdown-item" onclick="show_saryo('칠면조')" href="#">칠면조</a>

        </div>
    </div>

    <div class="card-columns" id="cards-box">

    </div>
</body>

</html>